Flask==1.1.0
Jinja2== 2.10.1
MarkupSafe==0.23
Werkzeug==0.15.4
gunicorn==19.9.0
itsdangerous==0.24
brython==3.7.3
ggame==1.0.10
redis==3.2.1
Flask-Session==0.3.1
Flask-Caching==1.7.2
pylint==2.3.0
black==18.9b0
wheel==0.32.3
twine==1.12.1
setuptools==40.6.3