html {
	height: 100%;
}

body {
	margin:0;
	padding:0;
	height:100%;
}

#nav-row {
    height:15%;
}

#body-row {
    height:85%;
}

.container, #code-column {
    height:100%;
}

#code-column {
    padding-bottom:5%;
}

textarea {
    width:100%;
    height:100%;
    box-sizing: border-box;
    font: 16px courier; 
 } 