{% extends "layout.html" %}

{% block body %}

<script id="__main__" type="text/python3" src="https://cdn.rawgit.com/brython-dev/brython/3.2.5/www/tests/console.py"></script>

<div class="full-width-container">
    <div class="row" id="nav-row">
        <div class="twelve columns">
            <span id="navigation">
            </span>
        </div>
    </div>
    
    
    <div class="row" id="body-row">
        <div class="twelve columns" id="editor-column">
        <textarea cols="80" id="code"></textarea>
        <div id=content></div>
        </div>
    </div>
    <div class="row">
        <div class="twelve columns" id="footer-row">
            <a href = "{{ url_for('brythonconsole') }}">{{ consolesite }}</a> runs on 
            <a href= "{{ url_for('root') }}"> {{ site }}</a>, 
            <a href="https://github.com/tiggerntatie/brython-server">
            Brython-Server</a> and 
            <a href="http://www.brython.info/">Brython</a>.
            
        </div>
    </div>

</div>

<form id="run_edit_form" action="" method="post" target="_blank">
  <input id="run_edit" name="run_edit" type="hidden" value="">
</form>

{% endblock %}

{% block foot %}
{{ super() }}
<script type="text/javascript">
    window.onload = brython();
</script>
{% endblock %}

