{% extends "layout.html" %}

{% block body %}

<div class="full-width-container">
    <div class="row" id="nav-row">
        <div class="one-third column">
            <input class="u-full-width" type="url" placeholder="https://github.com/<user>/<repo>" id="url_input" value="{{ edit }}">
        </div>
        <div class="two-thirds column">
            <button  class="button" id="url_submit" onclick="loadGithub()">Load</button>
            <button  class="button" onclick="runEditor()">&gt;</button>
            <a class="button" target="_blank" id="github_url" href="http://github.com">@Github</a>
            <a class="button" target="_blank" id="share_url" href="#">Share</a>
{% if github %}
            <button class="button" onclick="commitGithub()">Commit</button>
            <button class="button" onclick="logoutGithub()">Logout</button>
{% else %}
            <button class="button" onclick="loginGithub()">Login</button>
{% endif %}
        </div>
    </div>
    
    
    <div class="row" id="body-row">
        <div class="seven columns" id="editor-column">
            <pre id="editor">{{ editcontent }}</pre>
        </div>
        <div class="five columns" id="output-column">
        <textarea readonly cols="80" id="console"></textarea>
    	</div>
    </div>
</div>


<a href="https://github.com/tiggerntatie/brython-server">
    <img style="position: absolute; top: 0; right: 0; border: 0;" 
        src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" 
        alt="Fork me on GitHub" 
        data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png">
</a>

<form id="run_auth_request" action="" method="post">
  <input id="auth_request" name="auth_request" type="hidden" value="">
</form>
<form id="run_auth_forget" action="" method="post">
  <input id="auth_forget" name="auth_forget" type="hidden" value="">
</form>


<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.1.9/ace.js" type="text/javascript" charset="utf-8" ></script>

{% endblock %}

{% block foot %}
{{ super() }}
<script type="text/javascript">
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/eclipse");
    editor.setShowPrintMargin(true);
    editor.setDisplayIndentGuides(true);
    editor.getSession().setMode("ace/mode/python");
    // editor.on("change", sendEditorChange());
{% if edit != '' and editcontent == '' %}
    window.onload(loadGithub());    
{% endif %}

</script>

{% endblock %}
