<!doctype html>
<html>
<head>
    <title>Hello from Flask</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js" ></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/brython-dev/brython/3.0.2/src/brython.js"></script>
</head>
<body id="body" onload="brython(1)">
<script type="text/python">
from browser import document
import sys, time

class StdOut(object):
  def write(self, data):
    document["console"] <= data
  
class StdErr(object):
  def write(self, data):
    document["errorconsole"] <= data
  
_input = input

def input(prompt):
  print(prompt, end="")
  retval = _input(prompt)
  return retval if retval else ""

sys.stdout = StdOut()
sys.stderr = StdErr()

</script>
<script type="text/python" src="{{ root }}/{{ main }}"></script>

<h3>User I/O</h3>
<textarea rows="6" cols="80" id="console"></textarea>
<h3>Errors</h3>
<div  id="errorconsole"></div>
</body>
</html>
