<!doctype html>
{% block title %}
    <title>Brython Server</title>
{% endblock %}
{% block head %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bssite.css') }}" media="screen" />
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/3.0.5/pixi.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/buzz/1.1.10/buzz.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/brython-dev/brython/3.2.8/www/src/brython.js"></script>
<script type="text/python">
from browser import document, window
import traceback
def __EXECUTE__BRYTHON__():
    try:
        content = document['__main__'].innerHTML
        exec(content, {"__name__":"__main__"})
    except:
        traceback.print_exc()

window.__EXECUTE__BRYTHON__ = __EXECUTE__BRYTHON__
</script>
{% endblock %}
{% block body %}
{% endblock %}
{% block foot %}
    <script type="text/javascript" src="{{ url_for('static', filename='bs.js') }}"></script>
{% endblock %}
