<!doctype html>
<html lang="en">
<head>
{% block title %}
    <title>Brython Server</title>
{% endblock %}
{% block head %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">    
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js" ></script>
    <!-- BOOTSTRAP Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- BOOTSTRAP Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- BOOTSTRAP Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- Github Octicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/4.4.0/font/octicons.min.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bssite.css') }}" media="screen" />
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/3.0.5/pixi.min.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/buzz/1.1.10/buzz.min.js"></script>   -->
<!--    <script type="text/javascript" src="{{url_for('static', filename='brython/www/src/brython.js') }}"></script> -->

    <script type="text/javascript" src="{{url_for('static', filename='brython/www/src/brython_builtins.js') }}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='brython/www/src/version_info.js') }}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='brython/www/src/py2js.js') }}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='brython/www/src/loaders.js') }}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='brython/www/src/py_object.js') }}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='brython/www/src/py_type.js') }}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='brython/www/src/py_utils.js') }}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='brython/www/src/py_sort.js') }}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='brython/www/src/py_builtin_functions.js') }}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='brython/www/src/py_exceptions.js') }}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='brython/www/src/py_range_slice.js') }}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='brython/www/src/py_bytes.js') }}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='brython/www/src/py_set.js') }}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='brython/www/src/js_objects.js') }}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='brython/www/src/stdlib_paths.js') }}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='brython/www/src/py_import.js') }}"></script>
    
    <script type="text/javascript" src="{{url_for('static', filename='brython/www/src/unicode.min.js') }}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='brython/www/src/py_string.js') }}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='brython/www/src/py_int.js') }}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='brython/www/src/py_long_int.js') }}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='brython/www/src/py_float.js') }}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='brython/www/src/py_complex.js') }}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='brython/www/src/py_dict.js') }}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='brython/www/src/py_list.js') }}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='brython/www/src/py_generator.js') }}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='brython/www/src/py_dom.js') }}"></script>
    
    <script type="text/javascript" src="{{url_for('static', filename='brython/www/src/builtin_modules.js') }}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='brython/www/src/py_import_hooks.js') }}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='brython/www/src/async.js') }}"></script>
    
    <script type="text/javascript" src="{{url_for('static', filename='brython/www/src/brython_stdlib.js') }}"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">

<script type="text/python3">
from browser import document, window

def __EXECUTE__BRYTHON__():
    content = document['__main__'].innerHTML
    exec(content, {"__name__":"__main__"})

window.__EXECUTE__BRYTHON__ = __EXECUTE__BRYTHON__
</script>
{% endblock %}
</head>
<body><div class="container-fluid">
{% block body %}
{% endblock %}
</div>
{% block foot %}
    <script type="text/javascript" src="{{ url_for('static', filename='bs.js') }}?ver=1"></script>
{% endblock %}
</body>
</html>
