<!doctype html>
<title>Brython Server</title>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">    
<!-- Latest compiled and minified CSS -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
<!-- Optional theme -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"> -->
<!-- Latest compiled and minified JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" ></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js" ></script>
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script> -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bssite.css') }}" media="screen" />

<script type="text/python" id="pythonenvironment">
  from browser import document
  import sys, time
  
  class StdOut(object):
    def write(self, data):
      document["console"] <= data
      document["console"].focus()
    
  class StdErr(object):
    def write(self, data):
      document["console"] <= data
    
  _input = input
  
  
  def input(prompt):
    print(prompt, end="")
    retval = _input(prompt)
    return retval if retval else ""
  
  sys.stdout = StdOut()
  sys.stderr = StdErr()

</script>


<script>
    var mainscript = null;
    
    function loadMainScript(src) {
        if (mainscript) {
            document.head.removeChild(mainscript);
        }
        mainscript = document.createElement('script');
        mainscript.src = src;
        mainscript.type = "text/python";
        mainscript.async = false;
        mainscript.id = "mainscript";
        document.head.appendChild(mainscript);
        document.getElementById('console').value = "";
//        brython({debug:1, ipy_id:['pythonenvironment', 'mainscript']});
//        brython(1);
    }

    function processURL() {
      var url_input = document.getElementById('url_input').value;
      var gitmatch = url_input.match(/.*github\.com\/([^/]+)\/([^/]+).*/);
      if (gitmatch) {
//        window.location.href = "github/"+gitmatch[1]+"/"+gitmatch[2];
        loadMainScript("github/"+gitmatch[1]+"/"+gitmatch[2])
      }
    }
    
    $("#url_input").keyup(function(event){
        if(event.keyCode == 13){
            event.preventDefault();
            $("#url_submit").click();
        }
    });
    
    window.onload = function(){
      brython(1);
    }
    
</script>
  


{% block scripts %}
{% endblock %}

<div class="container">
{% block head %}

<div class="row">
    <div class="one-third column">
        <input class="u-full-width" type="url" placeholder="Python3 source URL Github" id="url_input">
    </div>
    <div class="two-thirds column">
        <button  class="button" id="url_submit" onclick="processURL()">Load</button>
        {{ src }}
    </div>
</div>

{% endblock %}

<div class="row" id="body">
    <div class="six columns">
{% block bodyleft %}
{% endblock %}
    </div>
    <div class="six columns" id="code-column">
{% block bodyright %}
    <textarea readonly id="console"></textarea>
{% endblock %}
	</div>
</div>
<div class="row">
    <div class="twelve columns">
{% block foot %}
{% endblock %}
	</div>
</div>
</div>

