{% extends "layout.html" %}
{% block scripts %}
  <script type="text/javascript" src="https://cdn.rawgit.com/brython-dev/brython/3.1.1/www/src/brython.js"></script>

<!--
  <script type="text/python" id="pythonenvironment">
  from browser import document
  import sys, time
  
  class StdOut(object):
    def write(self, data):
      document["console"] <= data
      document["console"].focus()
    
  class StdErr(object):
    def write(self, data):
      document["console"] <= data
    
  _input = input
  
  
  def input(prompt):
    print(prompt, end="")
    retval = _input(prompt)
    return retval if retval else ""
  
  sys.stdout = StdOut()
  sys.stderr = StdErr()
  
  
  </script>
-->

{% if main %}
  <script>
    loadMainScript("{{ root }}/{{ main }}")
  </script>
{% endif %}
  
  <!--  LOAD python source 
  <script id="mainfile" type="text/python" src="{{ root }}/{{ main }}"></script>
   -->
{% endblock %}


{% block bodyleft %}
  left
{% endblock %}


{% block foot %}
	  footing
{% endblock %}

